*{
    box-sizing: inherit;
    margin: 0;
}

/*CSS cho HTML*/
html {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}



.app {
    display: flex;

}
.slider-bars {
    width: 170px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.bars-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: end;
}
.bars-item {
    padding: 20px 0;
    cursor: pointer;
}
.bars-settings {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: end;
}
.bars-item__img {
    width: 40px;
    height: 40px;
}

.container {
    width: 100%;
    display: flex;
}

.mettings {
    width: 66.66667%;
    padding: 0 40px;
    border-left: 1px solid #f4ebeb;
}
.participants {
    width: 33.33333%;
    border-left: 1px solid #f4ebeb;
}


.nav__title {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__title-content {
    font-size: 20px;
    color: #000000;
}

.nav__title-hours {
    width: 90px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f22128;
    border-radius: 20px;
}

.nav__title-hours span{
    color: #f22128;
}

.nav__title-dot {
    font-size: 10px;
    color: #f22128;
    margin-right: 10px;
}

.screen {

}

.screen__main {

}

.screen__main-big {
    position: relative;
}

.screen__main-big-img {
    width: 100%;
}

.screen__main-small {
    display: flex;
    margin: 30px 0;

}

.screen__main-small-item {
    width: 33.33333%;
    margin-left:30px;
    position: relative;
}

.screen__main-small-item:first-child {
    margin-left: 0;
}



.screen__main-small-img {
    width: 100%;
}


.screen__main-big-meeting {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 37px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #737477;
    opacity: 0.6;
    border-radius: 4px;
}

.screen__main-big-meeting-dot, .screen__main-big-meeting span {
    font-size: 10px;
    color: #ffffff;
    margin: 0 10px;
}
.screen__main-big-micro{
    position: absolute;
    top: 10px;
    right: 20px;
}
.screen__main-big-meeting-dot {
    color: #1dd75b;
}

.screen__control {

}

.control-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.control-item {
    margin: 0 8px 16px 8px;
    cursor: pointer;
}

.control-item-icon {

}

.btn-end-meetings {
    cursor: pointer;
    width: 130px;
    height: 41px;
    background-color: #f22128;
    border: none;
    color: #ffffff;
    border-radius: 4px;
}

.participants-user {
    padding: 40px;
    border-bottom: 1px solid #f4ebeb;
}

.user-title {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-title h1{
    color:#000000;
    font-size: 24px;
}

.user-title__btn {
    font-size: 12px;
    width: 70px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #f22128;
    color:#f22128;
    background-color: transparent;

}

.user-title__icon {

}
.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-item__info {
    display: flex;
    align-items: center;

}

.user-item__info-img {
    width: 30px;
    height: 30px;
}

.user-item__info-name {
    font-size: 14px;
    color: #000000;
    margin-left: 5px;
    font-weight: 400;
}

.user-item__controls {
    display: flex;
    align-items: center;
}

.control-item-user {
    margin: 5px;
}

.control-item-abc {
    font-size: 16px;
    color: #737477;
}

.participants-chat {
    padding: 40px;
}

.chat-title {
    font-size: 14px;
    color: #000000;
    
}

.chat-list {
    margin-top: 40px;
}

.chat-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.chat-user {
    display: flex;
    align-items: center;
}

.chat-user-img {
}

.chat-user-name {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 0 15px;
}

.chat-user-time {
    font-weight: 400;
    color: #737477;
}

.chat-content {
    margin-left: 50px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 3px;
}


.chat-send {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.chat-send-content {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    border-radius: 3px;
}

.chat-send-input {
    padding: 0 10px;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    
}

.chat-send-input-icon {
    font-size: 20px;
    padding: 0 10px;
}

.chat-send-btn {

}
